@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

.comic-title {
    font-weight: bold;
}

.comic-buttons {
    color: #B3AE25;
    background-color: #CB1E1E;
    color: white;
    font-size: 9px;
    padding: 9px 20px;
    font-family: 'Marvel', sans-serif;
    cursor: pointer;
}

.comic-button {
    color: #B3AE25;
    background-color: #CB1E1E;
    color: white;
    font-size: 9px;
    padding: 9px 20px;
    font-family: 'Marvel', sans-serif;
    cursor: pointer;
}


.container-comic {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding:1em;
    box-sizing: border-box
  }

  .comic-title {
      color: white;
      font-family: 'Marvel', sans-serif;
font-weight: bold;
text-shadow: -2px -2px 0 black,
             2px -2px 0 black,
             -2px 2px 0 black,
             2px 2px 0 black,
             -3px 0 0 black,
             3px 0 0 black,
             0 -3px 0 black,
             0 3px 0 black;
  }

  .film-connection {
    color: #B3AE25;
    text-shadow: -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black,
    -3px 0 0 black,
    3px 0 0 black,
    0 -3px 0 black,
    0 3px 0 black;
  }