.container--login {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.form--login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link--register {
    color: red;
    justify-content: flex-end;
}

h1 {
font-family: 'Marvel', sans-serif;
color: white;
background-color: black;
font-size: 40px;
font-weight: bold;
text-shadow: -2px -2px 0 black,
             2px -2px 0 black,
             -2px 2px 0 black,
             2px 2px 0 black,
             -3px 0 0 black,
             3px 0 0 black,
             0 -3px 0 black,
             0 3px 0 black;
text-align: center;
}